.menu-button {
  cursor: pointer;
  align-items: center;
  display: flex;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  color: white;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
}
.menu-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.planet-button__displayNumber {
  font-size: 12px;
  line-height: 25px;
  color: white;
  opacity: 0.5;
  padding-right: 26px;
}
.menu-button__icon {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  margin-right: 10px;
}
